<div class="jumbotron">
  <h1>ユーザーがお気に入りした曲のリスト</h1>
</div>
<div class="jumbotron">
  <h1>ユーザーがお気に入りした曲のリスト</h1>
</div>
<div class="jumbotron">
  <h1>ユーザーがお気に入りした曲のリスト</h1>
</div>
<div class="jumbotron">
  <h1>ユーザーがお気に入りした曲のリスト</h1>
</div>
