<% selected_song ||= nil %>
<% parent_class ||= nil %>
<div id="allSongsList">
  <p class="text-muted mb-0">Composers</em>
  <%= render 'share/songs_lists/composer_songs_list',
             selected_song: parent_class == Composer ? selected_song : nil %>
  <div class="mb-5"></div>
  <p class="text-muted mb-0">Compositions</em>
  <%= render 'share/songs_lists/composition_songs_list',
             selected_song: parent_class == Composition ? selected_song : nil %>
  <div class="mb-5"></div>
</div>
