<% selected_song ||= nil %>
<% parent_class ||= nil %>
<% if selected_song && parent_class %>
  <% selected_song_link_id = 
      selected_song.decorate.all_songs_list_link_id(parent_class: parent_class) %>
<% end %>
<div id="allSongsList" data-selected-song-link="<%= selected_song_link_id %>">
  <%= render_async cached_all_songs_list_path, event_name: "cached-all-songs-list-load" do %>
    <div class="text-center my-3">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  <% end %>
</div>
