<div id="userHistorySongsList">
  <div class="jumbotron">
    <h1>ユーザーが検索した曲の履歴</h1>
  </div>
  <div class="jumbotron">
    <h1>ユーザーが検索した曲の履歴</h1>
  </div>
  <div class="jumbotron">
    <h1>ユーザーが検索した曲の履歴</h1>
  </div>
  <div class="jumbotron">
    <h1>ユーザーが検索した曲の履歴</h1>
  </div>
</div>
