<% checked ||= false %>
<div class='form-group'>
  <label>
    <%= form.check_box "setting#{setting.id}", checked: checked %>
    <%= setting.description %>
    <%= form.submit "", hidden: true %>
  </label>
</div>
