<div id="userSettings">
  <% Setting.all.each do |setting| %>
    <div class="setting-<%= setting.id %>-form-container">
      <% if current_user.settings.exists? setting.id %>
        <%= render 'share/settings_users/destroy_setting_user_form', setting: setting %>
      <% else %>
        <%= render 'share/settings_users/create_setting_user_form', setting: setting %>
      <% end %>
    </div>
  <% end %>
</div>
