<div class="mb-4 m-md-0">
  <button type="button" class="btn btn-outline-primary d-md-none"
                data-toggle="modal" data-target="#songsListsModal">
    曲を探す
  </button>
  <%= yield(:additional_modal_buttons) %>
</div>
