<div id="songsListsSidebar" 
         class="d-none d-md-block col-md-5 col-lg-4 col-xl-3 bg-light pt-3
                position-fixed h-100 overflow-auto" style="top: 0; left: 0;">
  <%= render 'share/songs_lists/lists', all_songs_list_selected_song: @all_songs_list_selected_song,
                                        all_songs_list_parent_class: @all_songs_list_parent_class,
                                        parent_container_name: "sidebar" %>
</div>
<%= render 'share/modal_base', id: "songsListsModal", title: "曲を探す" do %>
  <%= render 'share/songs_lists/lists', all_songs_list_selected_song: @all_songs_list_selected_song,
                                        all_songs_list_parent_class: @all_songs_list_parent_class,
                                        parent_container_name: "modal" %>
<% end %>
